/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

/* Set global size for easy rem calculation and add some reset style */
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mulish", sans-serif;
  background-color: #181822;
  color: #fafafb;
}
.row {
  height: 100%;
}
/*-------------------- Centering class -----------------*/
.center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* ------------------ Font sizes and weights------------------*/
.main-title {
  font-size: 11vw;
  font-weight: 800;
}
.section-heading {
  font-size: 10vw;
}
.subsection-heading {
  font-size: 9vw;
}
.section-heading,
.subsection-heading {
  font-weight: 700;
  text-align: center;
}
.hero-text,
.about-text {
  font-size: 4vw;
  font-weight: 400;
}
/* ------------------------ Common Elements link and destination cards ----- */
/*---- Links ----*/
.link {
  border: #fafafb 2px solid;
  text-decoration: none;
  text-align: center;
  background-color: #fafafb;
  color: #181822;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.hero-link:hover {
  text-decoration: none;
  transform: scale(1.2);
  color: #181822;
}
.destination-link,
.signup-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 800;
}
.destination-link:hover,
.signup-btn:hover {
  background-color: #181822;
  color: #fafafb;
  text-decoration: none;
}
/*---- Cards ----*/
.destination-card,
.package-card {
  height: 25rem;
  width: 18rem;
  position: relative;
  box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
}
.card-img {
  height: 100%;
  width: 100%;
  z-index: 100;
}
.card-content {
  position: absolute;
  bottom: 2.5rem;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 300;
  text-transform: uppercase;
}
.card-title {
  font-size: 3rem;
  padding-bottom: 3.75rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.1rem #181822;
}
.card-content p {
  font-size: 1.4rem;
  text-shadow: 0.2rem 0.2rem 0.1rem #181822;
}
.gradient {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 200;
}
/* ------------------------------- Background images css -------------------  */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
}
.background-image::before,
.background-image::after {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
}
.background-image::before {
  bottom: 0;
  background: linear-gradient(to top, #181822, transparent 75%);
}
.background-image:after {
  top: 0;
  background: linear-gradient(to bottom, #181822, transparent 75%);
}

/*---------------------------------- Css for animating elements in------------*/
.animation-element {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-in-out;
}
.animation-active {
  opacity: 1;
  transform: translateY(0px);
}
/* ------Navigation section Inspired by Code and Create tutorial on youtube---*/
.logo a {
  position: fixed;
  top: 4%;
  left: 5%;
  color: #fafafb;
  font-size: 3.5vw;
  z-index: 500;
}
.hamburger {
  width: 5.5rem;
  height: 5.5rem;
  background-color: transparent;
  position: fixed;
  top: 2%;
  right: 4%;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  width: 3rem;
  height: 0.2rem;
  background-color: #fafafb;
  margin: 0.2rem 0;
  transform-origin: right;
  transition: all 0.75s;
}
.change .line1 {
  transform: rotate(-40deg) translateY(-5px);
  background-color: #181822;
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(40deg) translateY(5px);
  background-color: #181822;
}
.nav-background {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 2.2rem;
  right: 2.2rem;
  z-index: 400;
  transition: all 1s ease;
}
.change .nav-background {
  background-color: #fafafb;
  transform: scale(150);
}
.navigation-list {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease;
}
.change .navigation-list {
  opacity: 1;
  visibility: visible;
}
.navigation-item {
  margin: 1vh 0;
}
.navigation-link {
  font-weight: 600;
  font-size: 4vw;
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: #181822;
  transition: all 0.3s ease-in-out;
}
.navigation-link:hover {
  color: grey;
}
/*----------------------------- Hero image section------------------*/
.hero-container,
.right-gradient {
  height: 69rem;
}
.hero-img {
  height: 100%;
  width: 100%;
  background: url(../images/hero-img.jpg) no-repeat center center scroll;
  background-size: cover;
}
.right-gradient {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #111, transparent);
}
.heading {
  position: absolute;
  top: 30%;
  left: 5%;
  border-left: #fafafb 2px solid;
  padding-left: 7.5%;
  display: flex;
  flex-direction: column;
}
.hero-text {
  padding: 5% 0;
}
.hero-link {
  font-size: 4vw;
  font-weight: 600;
  width: 22rem;
}
/* --------------------------About Section---------------------*/
.about-col {
  height: 40rem;
}
.about-img {
  max-height: 90%;
  max-width: 90%;
  position: absolute;
}
.about-text-container {
  position: absolute;
  text-align: center;
  padding: 2% 4%;
}
.about-text {
  padding-top: 2.5%;
}
/* ----------------------Destination Section------------------- */
#destinations {
  height: 100rem;
}
.destination-heading-section {
  height: 20rem;
}
.destination-heading {
  padding: 3% 0;
  border-bottom: solid 2px #fafafb;
}
.destinations-subtitle {
  height: 10rem;
}
.destinations-slider {
  height: 30rem;
}
/* ------------------------------------Reviews section------------------------*/
.reviews-row {
  height: 90rem;
}
.reviews-background-image {
  height: 100%;
  width: 100%;
  background: url(../images/reviews-img.jpg) no-repeat center center scroll;
  background-size: cover;
}
.reviews-heading {
  width: 100%;
  margin: 0 -15px;
  position: absolute;
  top: 3%;
  text-align: center;
  z-index: 100;
  font-size: 9vw;
}
/*--- Conatiners for reviews and signup images css --*/

.reviews-container,
.signup-container {
  background-color: #fafafb;
  position: absolute;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px #181822;
  z-index: 100;
  color: #181822;
}
.reviews-container {
  height: 60rem;
  width: 80%;
  opacity: 0.8;
}
.reviewers-list {
  list-style: none;
  width: 80%;
  height: 40%;
  position: absolute;
  bottom: 2.5%;
  margin-left: 10%;
}
.reviewer {
  display: flex;
  padding: 1.7rem 0;
  transition: all 0.2s ease-in-out;
  border-radius: 2rem;
}
.reviewer:hover {
  transform: scale(1.1);
}
.reviewer-image {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 50%;
}
.reviewer img {
  width: 100%;
  height: auto;
}
.reviewer h2 {
  padding-left: 1rem;
  font-size: 3.25vw;
}
.reviews {
  width: 100%;
  position: absolute;
  top: 10%;
  text-align: center;
}
.reviews h2 {
  font-size: 5.5vw;
}
.reviews i,
.reviews p {
  padding: 2rem 1rem 0rem 1rem;
  font-size: 3.75vw;
}
.hidden {
  display: none;
}
.active {
  box-shadow: 10px 10px 5px #181822;
}
/* -------------------------------Packages Section---------------------*/
.packages-title {
  height: 15rem;
  border-bottom: solid 2px #fafafb;
}
.packages-col {
  height: 30rem;
}
.package-card {
  position: absolute;
}
.packages-title h1 {
  padding: 5% 0;
}
/* -------------------------------Signup Section -----------------------------*/
.signup-row {
  height: 50rem;
}
.signup-container {
  height: 40rem;
  width: 75%;
  opacity: 0.8;
}
.signup-background-image {
  height: 100%;
  width: 100%;
  background: url(../images/signup2.jpg) no-repeat center center scroll;
  background-size: cover;
}
.signup-text-container {
  color: #181822;
  position: absolute;
  z-index: 100;
  width: 70%;
  padding-top: 10rem;
}
.signup-form {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signup-email {
  width: 60%;
  height: 4rem;
  border: solid 2px;
  border-color: rgba(223, 225, 229, 0);
  border-radius: 1rem;
}
#signup-email:hover {
  border-color: #181822;
}

/* ---------------------------------Media Querys-----------------------*/
@media (min-width: 576px) {
  header,
  .hero-img,
  .right-gradient,
  .hero-img::before {
    height: 90rem;
  }
  .heading {
    left: 7.5%;
  }
  .about-text {
    font-size: 2.3vw;
  }
  .hero-link {
    font-size: 2vw;
    width: 25rem;
  }
  .subsection-heading {
    font-size: 6vw;
  }
  .reviews-heading {
    font-size: 5vw;
  }
  .reviews-row {
    height: 55rem;
  }
  .reviews-container {
    height: 35rem;
  }
  .reviewers-list {
    width: 30%;
    top: 10%;
    margin-left: 2.5%;
  }
  .reviewer {
    padding: 2.3rem 0;
    margin-left: 2%;
  }
  .reviewer h2 {
    font-size: 1.75vw;
  }
  .reviews {
    width: 60%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .reviews h2 {
    font-size: 3vw;
  }
  .reviews i,
  .reviews p {
    padding: 3rem 1rem 0rem 1rem;
    font-size: 2vw;
  }
}
/* ----------------------------for phone portrait mode-----------------------*/
@media only screen and (min-width: 576px) and (max-width: 992px) and (orientation: landscape) {
  .heading {
    top: 15%;
  }
  .main-title {
    font-size: 8vw;
  }
  .hero-text {
    font-size: 1.5vw;
  }
  .hero-link {
    font-size: 1.5vw;
    width: 20rem;
  }
  .about-text {
    font-size: 2vw;
  }
  .about-col {
    height: 100vh;
  }
  .navigation-link {
    font-size: 2vw;
  }
}
/* -------------------------bootstrap col-md breakpoint-----------------------*/
@media (min-width: 768px) {
  .section-heading,
  .subsection-heading {
    font-size: 5vw;
  }
  #destinations {
    height: 80rem;
  }
  .destination-heading-section {
    height: 20rem;
  }
  .destination-row,
  .destinations-subtitle {
    height: 30rem;
  }
}
/* -------------------------ipad and tablets-----------------------*/
@media (min-width: 992px) {
  .main-title {
    font-size: 6.5vw;
  }
  .hero-text,
  .logo a {
    font-size: 2vw;
  }
  .hero-link,
  .about-text {
    font-size: 1.75vw;
  }
  .reviews-row {
    height: 90rem;
  }
  .reviews-container {
    height: 60%;
  }
  .reviewers-list {
    top: 25%;
  }
  .reviewer-image {
    height: 5rem;
    width: 5rem;
  }
}

@media (min-width: 1200px) {
  header,
  .hero-img,
  .right-gradient,
  .hero-img::before {
    height: 75rem;
  }
  .navigation-link,
  .section-heading {
    font-size: 3vw;
  }
  .main-title {
    font-size: 7vw;
  }
  .hero-text {
    font-size: 2vw;
  }

  .reviewer-image {
    height: 7rem;
    width: 7rem;
  }
}
/* ------------------larger desktops and laptop screens-----------------------*/
@media (min-width: 1450px) {
  header,
  .hero-img,
  .right-gradient,
  .hero-img::before {
    height: 95rem;
  }
  .hero-link,
  .about-text {
    font-size: 1.5vw;
  }
  #destinations {
    height: 130rem;
  }
  .destination-heading-section {
    height: 30rem;
  }
  .destination-row,
  .destinations-subtitle,
  .destinations-slider {
    height: 50rem;
  }
  .destination-card,
  .package-card {
    height: 40rem;
    width: 29rem;
  }
  .card-title {
    font-size: 4.75rem;
  }
  .card-btn,
  .signup-btn,
  .card-content p {
    font-size: 2rem;
  }
  .subsection-heading {
    font-size: 4vw;
  }
  .reviews-heading {
    font-size: 5vw;
  }
  .reviews h2 {
    font-size: 2.5vw;
  }
  .reviews i,
  .reviews p {
    font-size: 1.5vw;
  }
  .reviewer h2 {
    padding-left: 1rem;
    font-size: 0.75vw;
  }
  .packages-title {
    height: 30rem;
  }
  .packages-col {
    height: 55rem;
  }
}
