/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

/* Css for animating elements in*/
.animation-element {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-in-out;
}
.animation-active {
  opacity: 1;
  transform: translateY(0px);
}

/* Set global size for easy rem calculation and add some reset style */

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #181822;
  color: #fafafb;
}
/* Navigation section Inspired by Code and Create tutorial on youtube*/

header {
  height: 85vh;
}
.logo a {
  position: fixed;
  top: 2rem;
  left:3rem;
  color: #fafafb;
  font-size: 3.5vw;
  z-index: 500;
  text-decoration: none;
}
.hamburger {
  width: 5.5rem;
  height: 5.5rem;
  background-color: transparent;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  width: 3rem;
  height: 0.2rem;
  background-color: #fafafb;
  margin: 0.2rem 0;
  transform-origin: right;
  transition: all 0.75s;
}
.change .line1 {
  transform: rotate(-40deg) translateY(-5px);
  background-color: #181822;
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(40deg) translateY(5px);
  background-color: #181822;
}
.nav-background {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 2.2rem;
  right: 2.2rem;
  z-index: 200;
  transition: all 1s ease;
}
.change .nav-background {
  background-color: #fafafb;
  transform: scale(150);
}
.navigation-list {
  height: 100%;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease;
}
.change .navigation-list {
  opacity: 1;
  visibility: visible;
}
.navigation-item {
  margin: 1vh 0;
}
.navigation-link {
  font-weight: 600;
  font-size: 4vw;
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: #181822;
  transition: all 0.3s ease-in-out;
}
.navigation-link:hover {
  color: grey;
}

/* Hero image section*/

.hero-img {
  height: 85vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/hero-img.jpg) no-repeat center center scroll;
  background-size: cover;
}
.right-gradient {
  height: 85vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #111, transparent 25%);
}
.hero-img::before {
  content: "";
  height: 85vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #181822, transparent 25%);
}
.heading {
  position: absolute;
  top: 30%;
  left: 5%;
  border-left: #fafafb 2px solid;
  padding: 0 0 3rem 4rem;
  display: flex;
  flex-direction: column;
}
.heading h1 {
  font-size: 10vw;
  color: #fafafb;
  font-weight: 800;
}
.heading p {
  margin-top: 4rem;
  color: #fafafb;
  font-size: 3vw;
}
.heading a {
  font-size: 3vw;
  font-weight: 600;
  border: #fafafb 2px solid;
  text-decoration: none;
  margin-top: 4rem;
  width: 10rem;
  text-align: center;
  background-color: #fafafb;
  color: #181822;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}
.heading a:hover {
  background-color: grey;
}
.social-media {
  position: absolute;
  right: 15%;
  top: 45%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.social-media-links i {
  font-size: 2rem;
  color: #fafafb;
  margin-top: 5rem;
  transition: color 0.5s ease;
}
.social-media-links i:hover {
  color: grey;
}

/* About Section */

.about-col {
  height: 40vh;
}
.about-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.about-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}
.about-text h1 {
  font-size: 10vw;
  font-weight: 800;
}
.about-text p {
  font-size: 3.5vw;
  font-weight: 300;
  padding: 2rem;
}

/* Destination Section */

.destination-heading-section {
  height: 25vh;
}
#destinations {
  height: 175vh;
}
.destination-heading h1 {
  font-weight: 800;
  font-size: 9vw;
  text-align: center;
  padding: 0.5rem 0;
}
.city-destinations-title,
.beach-destinations-title {
  height: 25vh;
}
.city-destinations-slider,
.beach-destinations-slider {
  height: 50vh;
}
.city-destinations-title h1,
.beach-destinations-title h1 {
  font-weight: 800;
  font-size: 9vw;
  text-align: center;
  padding: 0.5rem 0;
}
.card {
  height: 36rem;
  width: 25rem;
  position: relative;
  border: solid 2px white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.card-img {
  height: 100%;
  width: 100%;
  z-index: 100;
}
.card-content {
  position: absolute;
  bottom: 20px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 300;
  text-transform: uppercase;
}
.card-content:hover {
  transform: translateY(-50px) scale(1.1);
}
.card-title {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.gradient {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #181822, transparent 40%);
  z-index: 200;
}
.card-btn {
  font-size: 1vw;
  font-weight: 600;
  border: #fafafb 2px solid;
  text-decoration: none;
  width: 10rem;
  text-align: center;
  background-color: #fafafb;
  color: #181822;
  transition: all 0.3s ease-in-out;
}
/* Reviews section*/
.reviews-row {
  height: 100vh;
}
.reviews-image {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/reviews-img.jpg) no-repeat center center scroll;
  background-size: cover;
  z-index: 100;
}
.reviews-image::before,
.reviews-image::after {
  content: "";
  height: 50vh;
  width: 100vw;
  position: absolute;
  left: 0;
  z-index: 300;
}
.reviews-image::before {
  bottom: 0;
  background: linear-gradient(to top, #181822, transparent 75%);
}
.reviews-image::after {
  top: 0;
  background: linear-gradient(to bottom, #181822, transparent 75%);
}
.reviews-heading {
  width: 100%;
  margin: 0 -15px;
  position: absolute;
  top: 5%;
  text-align: center;
  z-index: 100;
  font-size: 8vw;
  font-weight: 800;
  padding: 0 1rem;
}
.reviews-container {
  background-color: #fafafb;
  opacity: 0.8;
  height: 60vh;
  width: 80vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #181822;
  z-index: 100;
  color: #181822;
}
.reviewers-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 2rem;
  margin-left: 4rem;
}
.reviewer {
  display: flex;
  padding: 1.5rem 0;
  transition: all 1s ease-in-out;
  width:60vw;
}
.reviewer:hover {
  transform: scale(1.1);
}
.reviewer-image {
  position: relative;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 50%;
}
.reviewer img {
  width: 100%;
  height: auto;
}
.reviewer h2 {
  padding-left: 1rem;
}
.reviews {
  width: 100%;
  position: absolute;
  height:auto;
  bottom: 10%;
  text-align: center;

}
.reviews h2 {
  font-size: 5vw;
}
.reviews i,
.reviews p {
  padding-top: 2rem;
  font-size: 2.5vw;
}
.hidden {
  display: none;
}
.active {
  box-shadow: 10px 10px 5px #181822;
}
/* Media Querys*/

@media (min-width: 576px) {
  header,
  .hero-img,
  .right-gradient,
  .bottom-gradient,
  .hero-img::before  {
    height: 100vh;
  }
  .logo a {
    font-size: 3vw;
  }
  .heading {
    left: 10%;
  }
  .heading h1 {
    font-size: 9vw;
  }
  .heading a {
      width:12rem;
    font-size: 2vw;
  }
  .social-media {
    top: 45%;
    right: 10%;
  }
  .social-media-links i {
      font-size:3rem;
  }
  .about-col {
    height: 50vh;
  }
  .about-text h1,
  .reviews-heading {
    font-size: 5vw;
  }
  .about-text p {
    font-size: 2vw;
  }

  .city-destinations-title,
  .beach-destinations-title {
    height: 50vh;
  }
  .city-destinations-title h1,
  .beach-destinations-title h1,
  .destination-heading h1 {
    font-size: 4vw;
  }
 
}
@media only screen and (min-width: 800px) and (max-width: 1000px) and (orientation: landscape) {
  .social-media-links i {
    font-size: 1.8rem;
    margin-top: 5rem;
  }
  .about-col {
    height: 100vh;
  }
  .navigation-link {
    font-size: 2vw;
  }
  #destinations {
    height: 250vh;
  }
  .city-destinations-slider,
  .beach-destinations-slider {
    height: 100vh;
  }
  .card {
    height: 32rem;
    width: 21rem;
  }
}
@media (min-width: 820px) {
  .logo a {
    font-size: 1.5vw;
  }
  .navigation-link {
    font-size: 2.5vw;
  }
  .heading h1 {
    font-size: 5vw;
  }
  .heading p {
    font-size: 1.75vw;
    font-weight: 300;
  }
  .heading a {
    width: 50rem;
  }
  .about-col {
    height: 100vh;
  }
  .social-media {
      top:30%;
    right: 7.5%;
  }
  .social-media-links i {
    font-size: 2.5rem;
    margin-top: 10rem;
  }
  .about-col {
    height: 100vh;
  }
  .about-text h1,
  .reviews-heading {
    font-size: 5vw;
  }
  .about-text p {
    font-size: 1vw;
    padding: 2rem 3rem 0 1rem;
  }
  #destinations {
    height: 125vh;
  }
   .reviews-heading{
      font-size:10vw;
  }
}
